
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SutonnyMJ;
}

  @font-face{
    font-family: SutonnyMJ;
    src: url(../fonts/SutonnyMJ-Bold.ttf);
}  

.engFont{

    font-family: 'Times New Roman', Times, serif !important;
}


/************* Login Page************/

#login h1 {
    color: #fbfbfb;
    font-weight: bold;
    text-shadow: 2px 10px 10px  #5d030b;
}

#login .login label{
    font-size: 14px;
}
#login .login a{

    text-decoration: none;
    font-size: 13px;
    color: #b50919;

}

#login .login form input[placeholder]{
    font-size: 13px;
}

/***********header part */

nav.navbar {
    background-color: #5d0c14!important;
}
.navbar-brand, .navbar-brand:hover{
    color: white;
    font-weight: 600;
}
 .nav-link{
    color: white !important;
} 

.navbar-nav .nav-link:hover{
     color: #fff !important;
}

/****** category section ***/
.category{

    background-color: #2b1025 !important;
   
}

.category> .nav-pills> .nav-item> .nav-link{
    color: #fff !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
    font-weight: bold !important;
}

 .main-content .category{
    box-shadow: 0px 0px 10px #c3c0c0;
} 

.main-content .products{
    margin-top: 10px;
    box-shadow: 0px 0px 10px #c3c0c0;
    max-height: 65
    0px;
    overflow-y: auto;
    padding: 10px;
} 



.main-content .products .product-card {

    width: 145px;
    padding: 10px;
    margin: 0 10px;
    margin-top: 10px;
    box-shadow: 0 0 2px grey;
  
}

.main-content .products .product-card .card-img-top{
    
    display: block !important;
    width: 120px !important;
    text-align: center !important;
    height: 120px !important;
    margin-left: 8px !important;
}

.main-content .products .product-card .card-body{
    padding: 0 !important;
}
.main-content .products .product-card .card-body .productName {
    font-size: 14px;
}
.main-content .products .product-card .card-body .productWeight, .retailPrice, .wholesalePrice {
    font-size: 15px;
}
.main-content .products .product-card .card-body .productSellType{
   
    width: 130px;
    display: block;
    margin: 12px 0px;
    height: 32px;
    font-size: 12px;
}

/******** order ***********/

.order{
    background-color: #262d33a8  !important;
}
.order> .card {
    background-color: #262d33a8  !important;
}
.order> .card> .card-body h3{
    color: #fff;
    padding: 10px 0;
}

.order .table{
    background-color: #ffffff !important;
    color:#000 !important;
    
}


.order .order-table tbody input.quantity{

    padding-left: 8px;
    width: 70px;
}

.order  input[name="credit"]{

    padding: 2px 0px;
    padding-left: 10px;
    width: 150px;
}

.order  input[name="discount"]{
    width: 100px !important;
    display:inline-block;
    
}

.order  input[name="receivedMoney"]{

    width: 150px !important;
    
}


/******** footer ******/

#footer{
    background-color: rgb(31, 92, 3);
    border-radius: 5px;
}

#footer> p {
    color: white;
    font-size: 20px;
    font-weight: 700;
    
}